{%- assign input = include.content -%}

{%- comment -%}
  assets link to: {{include.content}} // 
  page.url: {{page.url}} // 
  article.url: {{article.url}} // 

  {%- assign thisurl = page.url -%}
  {%- if page.url contains "html" -%}
    {%- assign thisurl = article.url -%}
  {%- endif -%}
{%- endcomment -%}


{%- assign thisurl = article.url -%}

{%- assign output = input | prepend: thisurl | prepend: site.assetsurl | prepend: site.baseurl -%}
{%- if input contains "http" -%}
  {%- assign output = input -%}
{%- endif -%} 

{%- assign output = output | strip -%}
{{ output }}
