---
layout: page
title: Team
roles:
  - Professor
  - Admin
  - PhD Student
  - Visiting PhD Student
  - Masters Student
  - Undergraduate Student
---

<h1>Team</h1>


<p>
  <a class="underlined_link" href="/join.html"><strong>Join the group!</strong></a> If you are interested in joining the group, please get in touch.
</p>


<h2>Current Members</h2>

<div class="container">
<div class="row">
  {% for role in page.roles %}
    {% for person in site.people %}
      {% if person.role == role %}
        {% unless person.alumni_since %}
          <div class="col col-3 col-t-4 col-m-6">
            <div class="team">
            
              {% if person.image %}
                <img src="{{ site.assetsurl }}{{ person.image | relative_url }}" alt="Picture of {{ person.name }}" class="team__photo" />
              {% else %}
              <div class="team__photo"><div class="team__photo_empty">
                  <ion-icon class="team__photo_icon" name="person-circle-sharp"></ion-icon>
                </div></div>
              {% endif %}
              
              <div class="team__name">{{ person.name }}</div>
              <!-- {% if person.website %}
                <a class="team__name muted_link" href="{{ person.website }}">{{ person.name }}</a>
              {% else %}
                <div class="team__name">{{ person.name }}</div>
              {% endif %} -->

              <div>{{ person.position }}</div>

              {% if person.co-advisor %}
                <!-- <div class="font-small"> -->
                  co-advised w/ {{ person.co-advisor }}
                <!-- </div> -->
              {% endif %}

              <!-- <a class="team__contact muted_link" href="mailto:{{ person.email | encode_email }}">{{ person.email }}</a> -->
              
              {% if person.website %}
              <a class="team__contact muted_link" href="{{ person.website }}">web</a> 
              &nbsp; | &nbsp; 
              {% endif %}
              <a class="team__contact muted_link" href="mailto:{{ person.email | encode_email }}">email</a>
              
            </div>
          </div>
        {% endunless %}
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>
</div>



{% if site.people.alumni_since %}
{% assign sorted_alumni = site.people | sort: 'alumni_since' | reverse %} 
  
  <h2>Previous Members</h2>

  <ul class="list pl0">
    {% for person in sorted_alumni %} 
      {% if person.alumni_since %}
        <li>
          <a href="{{ person.website }}" class="muted_link" >{{ person.name }}</a>, {{ person.position }}, alumni since {{ person.alumni_since }}
        </li>
      {% endif %} 
    {% endfor %}
  </ul>

{% endif %}