---
layout: page
title: Team
roles:
  - Professor
  - Admin
  - PhD student
  - Research assistant
  - Masters student
  - Undergraduate student
  - Collaborator
---

<h1>Team</h1>


<p>
  <a class="underlined_link" href="/join.html">Join the group!</a> If you are interested in joining the group, please get in touch.
</p>


<h2>Current Members</h2>

<div class="container">
<div class="row">
  {% for role in page.roles %}
    {% for person in site.people %}
      {% if person.role == role %}
        {% unless person.alumni_since %}
          {% include person-gallery.html %}
        {% endunless %}
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>
</div>



{% assign alumni = site.people | where_exp: "person", "person.alumni_since" %}

{% if alumni.size > 0 %}
<h2>Previous Members</h2>

<div class="container">
  <div class="row">
  {% assign sorted_alumni = alumni | reverse %}
  {% for person in sorted_alumni %} 
    {% if person.alumni_since %}
      {% include person-gallery.html %}
      <!-- <li> <a href="{{ person.website }}" class="muted_link" >{{ person.name }}</a>, {{ person.position }}, alumni since {{ person.alumni_since }} </li> -->
    {% endif %} 
    {% endfor %}
  </div>
</div>

{% endif %} 