baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
assetsurl: /assets

#-------------------------------
# Build settings
markdown: kramdown
permalink: pretty
plugins:
  - jekyll-sitemap
  - jekyll/tagging
#   - jekyll-paginate

gems:
  - jekyll-email-protect

# paginate: 5
# paginate_path: "/page/:num"


# Pages Path
defaults:
  - scope:
      path: '_pages'
    values:
      permalink: /:basename:output_ext

include:
  - _pages

collections:
  people:
    output: false
  publications:
    output: true
    future: true
  news:
    output: false
  # courses:
  #   output: true

# # Tags
# tag_page_dir:         tag
# tag_page_layout:      tag_page
# tag_permalink_style:  pretty

sass:
  sass_dir: _sass
  style: compressed

  

## from CMU DIG

# sass:
#   style: compressed
#   load_paths:
#     - node_modules

# collections:
#   publications:
#     output: true
#   people:
#     output: false
#   courses:
#     output: true

# # Build settings
# markdown: kramdown
# plugins:
#   - jekyll-sitemap
#   - jekyll-feed
#   - jekyll-seo-tag
#   - jekyll-mentions
#   - jekyll-redirect-from