.page-title-box {
  display: none;

  padding: 80px 0;
  // border-top: 1px solid $light-gray;

  .page-title {
    font-size: 57px;
    line-height: 70px;
    margin: 0;
  }

  @media only screen and (max-width: $mobile) {
    padding: 40px 0;

    .page-title {
      font-size: 47px;
      line-height: 53px;
    }
  }
}

.page__head {

  .page-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $light-gray;
    &:after {
      content: "";
      display: table;
      width: 100%;
      min-height: 300px;
      padding-top: 50%;
    }
  }
}

.page {
  // margin: 40px auto;
  margin: auto;
  padding: 0 20px;

  img {
    margin: 30px 0;
  }

  @media only screen and (max-width: $tablet) {
    margin: auto;
    padding: 0 20px;
  }
}

.page-box {
  text-align: center;

  .back-arrow {
    a {
      display: inline-block;
      margin-left: 10px;
      color: $dark;
      font-weight: 700;
      &:hover {
        color: $black;
      }
    }
  }
}

.team {
  width: 100%;
  text-align: center;
  line-height: 1.3;
  padding-right: 20px;

  .team__photo {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 5px;

    .team__photo_empty {
      padding-top: 100%; /* 1:1 Aspect Ratio */
      position: relative;
      color: $white;
      background-color: #dadada;
      // background-color: $gray;
      // color: $gray;
      // border: $light-gray 1px solid;
    }
    .team__photo_icon {
      width: 70%;
      height: 70%;
      position: absolute;
      top: 50%;
      left: 50%;
      bottom: 0;
      right: 0;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  .team__name {
    font-weight: 700;
    line-height: 2;
  }

  .team__contact {

  }

  @media only screen and (max-width: 400px) {
    font-size: $base-font-size*0.8;
  }
}