{% assign without-image = nil %}


<!-- begin article -->
<div class="article">
  <!-- <div class="container"> -->

    <div class="article__wrapper">

        <div class="col-4 col-t-4 col-m-12">

          <!-- {% if article.image-thumb %}
            <div class="article__image" style="background-image: url({{site.baseurl}}{{site.assetsurl}}{{article.url}}{{ article.image-thumb }}); background-size: contain">
          {% else %}
            <div class="article__image">
          {% endif %}

          {% if article.video-thumb %}
            <iframe  width="320" height="180" allowfullscreen frameborder="0" scrolling="no" 
            src="{% include article/get-video-url.html link=article.video-thumb embed=true %}"
            ></iframe>
          {% endif %}

            </div> end article__image -->

          <div class="article__image">
          {% if article.video-thumb %}
            <iframe  width="320" height="180" allowfullscreen frameborder="0" scrolling="no" 
            src="{% include article/get-video-url.html link=article.video-thumb embed=true %}"
            ></iframe>
          {% elsif article.image-thumb %}
            <img src="{{site.baseurl}}{{site.assetsurl}}{{article.url}}{{ article.image-thumb }}" style="margin: 0;">
          {% endif %}

          </div> <!-- end article__image -->
        </div>


        <div class="article__content col-8 col-t-8 col-m-12">
      
          {% assign project-page = article.url | prepend: site.baseurl %}
          {% if article.external-page %}
            {% assign project-page = article.external-page %}
          {% endif %}
          <h4 class="article__title">
            <a href="{{ project-page }}">{{article.title}}</a>
          </h4>
          
          <p class="tight">
            {{ article.authors | join: ", " }}. <br/>
          </p>
          <p class="tight">
            {{ article.venue }} <br/>
          </p>

          {% if article.awards %}
          <p class="tight">
            <span class="awards highlight_text"><ion-icon name="trophy-sharp"></ion-icon> {{ article.awards  | join: ", " }} </span>
          </p>
          {% endif %}


          <div class="article__links">
              <a class="link_button" 
                 href="{% include article/get-assets-link.html content=article.pdf %}">
                 <ion-icon name="{% include article/get-link-icons.html content='link-type-document' %}"></ion-icon>
                 &nbsp;paper
              </a>
              {% if article.doi %}
              <a class="link_button" href="{{article.doi}}">
                <ion-icon name="{% include article/get-link-icons.html content='link-type-doi' %}"></ion-icon>
                &nbsp;doi
              </a>
              {% endif %}

              {% if article.video %}
              <a class="link_button" href="{% include article/get-video-url.html link=article.video embed=false %}">
                <ion-icon name="{% include article/get-link-icons.html content='link-type-video' %}"></ion-icon>
                video
              </a>
              {% endif %}
            
              <a href="{{ project-page }}" class="read-more">project&nbsp;page&nbsp;<i class="ion ion-ios-arrow-forward"></i></a>
              <br>

              {% include article/add-external-links.html context=article %}

          </div>

        </div>

    </div>
      
  </div>
<!-- </div> -->
<!-- end article -->