
<!-- this shows the section "RECENT PUBLICATIONS" -->

<!-- include.N: {{include.N}}<br> -->

{% if site.publications.size > 0 %}

{% assign publications = site.publications | sort: "publication-date" | reverse %}

<div class="container">
	<div class="row">
	<div class="col col-12">
	
	<h4 class="separator-title"><span style="background: white; padding: 0 10px;">recent publications</span></h4>
	
	<article class="page col col-10 col-t-10 col-m-12">
		<div class="page__content">
			
			See <a class="underlined_link" href="/publications"><strong>all publications</strong></a>.
			<br/><br/>
	
			{% for article in publications limit:include.N %}
				{% include article-list.html %}
			{% endfor %}

		</div>
	</article>

</div>
</div>
</div>

{% endif %}