.contact {
  .contact__list {
    li {
      margin-left: 15px;
      display: inline-block;

      a {
        font-size: 18px;
        color: $dark;
        border: none;
        &:hover {
          color: $black;
        }
      }
    }
  }
}