.header {
  position: relative;
  // height: $nav-height;
  height: 100px;
  border-bottom: 1.5px solid $border-color;

  // position: fixed; /* Set the navbar to fixed position */
  // top: 0; /* Position the navbar at the top of the page */
  // width: 100%; /* Full width */
  // height: $nav-height;
  // background-color: white;

  .header__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(17,17,17,0.7);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    
    @media only screen and (max-width: $desktop) {
      &.is-visible {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.logo {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
    
  .logo__image {
    max-height: 50px;
  }

  .logo__link {
    font-family: 'Roboto Condensed', 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
    color: $text-color;
    border: none;

    &:hover {
      span {
      transition: all ease 0.2s;
      // border-bottom: solid 2px $link-color;
      background-color: $link-color;
      padding-bottom: 3px;
      }
    }
    
    // @media only screen and (max-width: $tablet) {
    //   font-size: 18px;
    // }
  
    @media only screen and (max-width: $mobile) {
      font-size: 18px;
    }
  }
}


.main-nav {
  position: absolute;
  top: 50%;
  right: 0;
  // right: 3%; //when using search icon
  transform: translate(0%, -50%);

  .nav-icon__close {
    display: none;
    font-size: 24px;
    text-align: right;
    cursor: pointer;
    &:hover {
      color: $black;
    }
  }

  .nav__title {
    display: none;
  }

  .nav__list {
    white-space: nowrap;
    li::before {
      content: '';
      position: absolute;
      margin-left: 0px;
    }

    .nav__item {
      display: inline-block;
      border: none;

      .nav__link {
        display: inline-block;
        padding: 10px 25px;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        // color: lighten($dark, 15%);
        color: $dark;
        border: none;

        &:hover {
          color: $black;
          border: none;
        }
        &:active {
          color: $black;
          border: none;
        }
      }
      .nav__link-active {
        color: $black;
      }
    }
  }

  @media only screen and (max-width: $desktop) {
    position: fixed;
    top: 0;
    left: inherit;
    right: -300px;
    bottom: 0;
    transform: none;
    z-index: 100;
    width: 300px;
    height: 100vh;
    padding: 40px 30px 30px;
    transition: right 0.5s cubic-bezier(0.7, 0.4, 0, 1);
    background: $white;
    &.is-open {
      right: 0;
    }

    .nav-icon__close {
      display: block;
    }

    .nav__title {
      display: block;
      padding-left: 30px;
      padding-bottom: 7px;
      margin-bottom: 10px;
      // color: $gray;
      border-bottom: 1px solid $light-gray;
    }

    .nav__list {
      .nav__item {
        display: block;
      }
    }
  }
}

.nav-buttons {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 21px;
  
  .nav__icon {
    // color: lighten($dark, 15%);
    color: $dark;
    cursor: pointer;
    &:hover {
      color: $black;
    }
  }
  
  .nav__icon-menu {
    display: none;
    margin-right: 10px;
    &:hover {
      color: $black;
    }
    
    @media only screen and (max-width: $desktop) {
      display: inline-block;
    }
  }
}
